<main>
	<h1 class="text-center text-uppercase">Hello world</h1>
	<h2 class="text-end text-lowercase">Hello world</h2>
	<h2 class="text-capitalize">Hello world</h2>

	<hr>

	<div class="display-1 text-muted">Hello world</div>
	<div class="display-5">Hello world</div>

	<hr>

	<span class="text-muted">Додатковий текст</span>

	<hr>

	<button class="btn btn-primary">Test button</button>

	<hr>

	<div class="card">
		<div class="card-body">
			This is content
		</div>
	</div>

</main>